name: CI

on:
  push:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Docker login
      run: docker login ghcr.io -u $GITHUB_ACTOR -p ${{secrets.CR_PAT}}

    - name: Build Docker image
      run: docker build -t remna-traffic-usage .

    - name: Publish image
      run: docker push ghcr.io/velvetnet/remna-traffic-usage:${GITHUB_REF##*/}

    - name: Show logs on failure
      if: failure()
      run: docker logs remna-traffic-usage || true
